In [1]:
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#pd.options.display.max_rows = 999
#pd.get_option("display.max_rows")

In [3]:
# Control whether to import the original data. 
import_original_data = True
write_excel = True

Mila:

OK only four files needed to be corrected. I put them in your Meta4 folder under the name Elviz_Corrected

The remaining four files indeed contained fewer contigs.

Thanks!

In [4]:
import sys
print sys.executable 
print (sys.version)

/usr/bin/python
2.7.5 (default, Mar  9 2014, 22:15:05)
[GCC 4.2.1 Compatible Apple LLVM 5.0 (clang-500.0.68)]

In [5]:
print os.getcwd()

/Users/janet/elvizAnalysis

In [6]:
sns.set(style="whitegrid")

In [7]:
# Import the csv that translates the 127_HOW14 type labels to weeks and replicates.

from elviz_utils import IMPORT_METAINFO_TYPES, read_sample_info

In [8]:
sample_info = read_sample_info()

sample_info.head()

        ID  oxy  rep  week  project
0   1_LOW4  Low    1     4  1056013
1  13_LOW5  Low    1     5  1056037
2  25_LOW6  Low    1     6  1056061
3  37_LOW7  Low    1     7  1056085
4  49_LOW8  Low    1     8  1056109

In [9]:
# loop over each file, collapse rows that share phylogeny data to the genus label,
# save new .csv files, then append them all together in a separate step. 
#filepath = '/Volumes/Shares/Users/Janet/meta4/160121_elviz_files_updated/'
filepath = './data'
elviz_files = [f for f in os.listdir(filepath) if ".csv" in f]
print len(elviz_files)
!ls ./data/*.csv | wc -l

88
      88

In [10]:
from abundance_utils import read_and_reduce_elviz_csv

In [11]:
# test read_and_reduce_elviz_csv
tmp = read_and_reduce_elviz_csv(filename = elviz_files[0],
                                    #'elviz_1056076_32_HOW6.csv', 
                                filepath=filepath,
                               sample_info=sample_info)

In [12]:
# test read_and_reduce_elviz_csv
tmp = read_and_reduce_elviz_csv(filename = elviz_files[0], 
                                filepath=filepath,
                               sample_info=sample_info)

In [13]:
tmp.head()

,Kingdom,Phylum,Class,Order,Family,Genus,abundance,ID,oxy,rep,week,project
642,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,0.275835,1_LOW4,Low,1,4,1056013
494,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,0.266572,1_LOW4,Low,1,4,1056013
198,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,0.066042,1_LOW4,Low,1,4,1056013
650,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,other,0.057879,1_LOW4,Low,1,4,1056013
478,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Comamonadaceae,other,0.036590,1_LOW4,Low,1,4,1056013

In [14]:
# import the raw or raw-ish data. 
if import_original_data:
    filepath = '/Users/janet/Documents/Lidstrom Lab Work/meta4/160125_Elviz_files_corrected'
    elviz_files = [f for f in os.listdir(filepath) if ".csv" in f]
    print elviz_files[1:4]

['elviz_1056016_2_LOW4.csv', 'elviz_1056019_3_LOW4.csv', 'elviz_1056022_4_LOW4.csv']

In [15]:
if not os.path.exists('./results'):
    os.makedirs('./results/')
if not os.path.exists('./plots'):
    os.makedirs('./plots/')

In [16]:
from abundance_utils import read_and_reduce_all

In [17]:
if import_original_data:
    data_reduced = read_and_reduce_all(filename_list=elviz_files,
                                       filepath=filepath,
                                       sample_info = sample_info)
    print data_reduced.size  
else: 
    data_reduced = pd.read_csv("./results/reduced_data--all_phylogeny_remains.csv")

data_reduced.head()

elviz_1056016_2_LOW4.csv
elviz_1056019_3_LOW4.csv
elviz_1056022_4_LOW4.csv
elviz_1056025_7_HOW4.csv
elviz_1056028_8_HOW4.csv
elviz_1056031_9_HOW4.csv
elviz_1056034_10_HOW4.csv
elviz_1056037_13_LOW5.csv
elviz_1056040_14_LOW5.csv
elviz_1056043_15_LOW5.csv
elviz_1056046_16_LOW5.csv
elviz_1056049_19_HOW5.csv
elviz_1056052_20_HOW5.csv
elviz_1056055_21_HOW5.csv
elviz_1056058_22_HOW5.csv
elviz_1056061_25_LOW6.csv
elviz_1056064_26_LOW6.csv
elviz_1056067_27_LOW6.csv
elviz_1056070_28_LOW6.csv
elviz_1056073_31_HOW6.csv
elviz_1056076_32_HOW6.csv
elviz_1056079_33_HOW6.csv
elviz_1056082_34_HOW6.csv
elviz_1056085_37_LOW7.csv
elviz_1056088_38_LOW7.csv
elviz_1056091_39_LOW7.csv
elviz_1056094_40_LOW7.csv
elviz_1056097_43_HOW7.csv
elviz_1056100_44_HOW7.csv
elviz_1056103_45_HOW7.csv
elviz_1056106_46_HOW7.csv
elviz_1056109_49_LOW8.csv
elviz_1056112_50_LOW8.csv
elviz_1056115_51_LOW8.csv
elviz_1056118_52_LOW8.csv
elviz_1056121_55_HOW8.csv
elviz_1056124_56_HOW8.csv
elviz_1056127_57_HOW8.csv
elviz_1056130_58_HOW8.csv
elviz_1056133_61_LOW9.csv
elviz_1056136_62_LOW9.csv
elviz_1056139_63_LOW9.csv
elviz_1056142_64_LOW9.csv
elviz_1056145_67_HOW9.csv
elviz_1056148_68_HOW9.csv
elviz_1056151_69_HOW9.csv
elviz_1056154_70_HOW9.csv
elviz_1056157_73_LOW10.csv
elviz_1056160_74_LOW10.csv
elviz_1056163_75_LOW10.csv
elviz_1056166_76_LOW10.csv
elviz_1056169_79_HOW10.csv
elviz_1056172_80_HOW10.csv
elviz_1056175_81_HOW10.csv
elviz_1056178_82_HOW10.csv
elviz_1056181_85_LOW11.csv
elviz_1056184_86_LOW11.csv
elviz_1056187_87_LOW11.csv
elviz_1056190_88_LOW11.csv
elviz_1056193_91_HOW11.csv
elviz_1056196_92_HOW11.csv
elviz_1056199_93_HOW11.csv
elviz_1056202_94_HOW11.csv
elviz_1056205_97_LOW12.csv
elviz_1056208_98_LOW12.csv
elviz_1056211_99_LOW12.csv
elviz_1056214_100_LOW12.csv
elviz_1056217_103_HOW12.csv
elviz_1056220_104_HOW12.csv
elviz_1056223_105_HOW12.csv
elviz_1056226_106_HOW12.csv
elviz_1056229_109_LOW13.csv
elviz_1056232_110_LOW13.csv
elviz_1056235_111_LOW13.csv
elviz_1056238_112_LOW13.csv
elviz_1056241_115_HOW13.csv
elviz_1056244_116_HOW13.csv
elviz_1056247_117_HOW13.csv
elviz_1056250_118_HOW13.csv
elviz_1056253_121_LOW14.csv
elviz_1056256_122_LOW14.csv
elviz_1056259_123_LOW14.csv
elviz_1056262_124_LOW14.csv
elviz_1056265_127_HOW14.csv
elviz_1056268_128_HOW14.csv
elviz_1056271_129_HOW14.csv
elviz_1056274_130_HOW14.csv
775164

,Kingdom,Phylum,Class,Order,Family,Genus,abundance,ID,oxy,rep,week,project,sample_name
642,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,0.275835,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
494,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,0.266572,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
198,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,0.066042,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
650,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,other,0.057879,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
478,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Comamonadaceae,other,0.036590,1_LOW4,Low,1,4,1056013,replicate 1: Low O2

In [18]:
if import_original_data:
    data_reduced.to_csv("./results/reduced_data--all_phylogeny_remains.csv", index=False)

In [19]:
# Should have only 1 row per Id now. 
data_reduced[data_reduced['Genus']=='Methylophilus'].head()

,Kingdom,Phylum,Class,Order,Family,Genus,abundance,ID,oxy,rep,week,project,sample_name
493,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylophilus,0.001669,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
515,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylophilus,0.001356,2_LOW4,Low,2,4,1056016,replicate 2: Low O2
499,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylophilus,0.001524,3_LOW4,Low,3,4,1056019,replicate 3: Low O2
468,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylophilus,0.000997,4_LOW4,Low,4,4,1056022,replicate 4: Low O2
577,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylophilus,0.001864,7_HOW4,High,1,4,1056025,replicate 1: High O2

In [20]:
from abundance_utils import prepare_excel_dictionary
  
prepare_excel_dictionary(dataframe = data_reduced)

{('High', 1): 'elviz_binned--HighO2_rep1.xlsx',
 ('High', 2): 'elviz_binned--HighO2_rep2.xlsx',
 ('High', 3): 'elviz_binned--HighO2_rep3.xlsx',
 ('High', 4): 'elviz_binned--HighO2_rep4.xlsx',
 ('Low', 1): 'elviz_binned--LowO2_rep1.xlsx',
 ('Low', 2): 'elviz_binned--LowO2_rep2.xlsx',
 ('Low', 3): 'elviz_binned--LowO2_rep3.xlsx',
 ('Low', 4): 'elviz_binned--LowO2_rep4.xlsx'}

In [21]:
#from abundance_utils import prepare_excel_writer_dict 
#prepare_excel_writer_dict(dataframe = data_reduced)

#from abundance_utils import write_excel
  
#write_excel(dataframe = data_reduced)

In [22]:
if write_excel:
    from abundance_utils import write_excel_files
    write_excel_files(dataframe = data_reduced, filepath = './results')

In [23]:
data_reduced.week.head()

642    4
494    4
198    4
650    4
478    4
Name: week, dtype: int64

In [24]:
data_reduced.head()

,Kingdom,Phylum,Class,Order,Family,Genus,abundance,ID,oxy,rep,week,project,sample_name
642,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,Methylobacter,0.275835,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
494,Bacteria,Proteobacteria,Betaproteobacteria,Methylophilales,Methylophilaceae,Methylotenera,0.266572,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
198,Bacteria,Bacteroidetes,Flavobacteriia,Flavobacteriales,Flavobacteriaceae,Flavobacterium,0.066042,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
650,Bacteria,Proteobacteria,Gammaproteobacteria,Methylococcales,Methylococcaceae,other,0.057879,1_LOW4,Low,1,4,1056013,replicate 1: Low O2
478,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Comamonadaceae,other,0.036590,1_LOW4,Low,1,4,1056013,replicate 1: Low O2

In [25]:
from abundance_utils import reduce_to_genus_only
data_reduced_genus = reduce_to_genus_only(data_reduced)
data_reduced_genus.head()

      Kingdom          Phylum                Class             Order  \
642  Bacteria  Proteobacteria  Gammaproteobacteria   Methylococcales
494  Bacteria  Proteobacteria   Betaproteobacteria   Methylophilales
198  Bacteria   Bacteroidetes       Flavobacteriia  Flavobacteriales
650  Bacteria  Proteobacteria  Gammaproteobacteria   Methylococcales
478  Bacteria  Proteobacteria   Betaproteobacteria   Burkholderiales

                Family           Genus  abundance      ID  oxy  rep  week  \
642   Methylococcaceae   Methylobacter   0.275835  1_LOW4  Low    1     4
494   Methylophilaceae   Methylotenera   0.266572  1_LOW4  Low    1     4
198  Flavobacteriaceae  Flavobacterium   0.066042  1_LOW4  Low    1     4
650   Methylococcaceae           other   0.057879  1_LOW4  Low    1     4
478     Comamonadaceae           other   0.036590  1_LOW4  Low    1     4

     project          sample_name
642  1056013  replicate 1: Low O2
494  1056013  replicate 1: Low O2
198  1056013  replicate 1: Low O2
650  1056013  replicate 1: Low O2
478  1056013  replicate 1: Low O2
Index([u'Kingdom', u'Phylum', u'Class', u'Order', u'Family', u'Genus',
       u'abundance', u'ID', u'oxy', u'rep', u'week', u'project',
       u'sample_name'],
      dtype='object')

              ID  rep  week   oxy          Genus  abundance  project
42795   76_LOW10    4    10   Low  Methylobacter   0.774854  1056166
45854   82_HOW10    4    10  High  Methylobacter   0.770596  1056178
2432   106_HOW12    4    12  High  Methylobacter   0.759018  1056226
26673    40_LOW7    4     7   Low  Methylobacter   0.757622  1056094
50889   94_HOW11    4    11  High  Methylobacter   0.745955  1056202

# Further reduce data so only Genus is preserved. 
# drop the reads per kilobase or we will get more than 1 row for other.
data_reduced_genus = data_reduced.copy()
#del data_reduced_genus['reads per kilobase']
print data_reduced_genus.head()
data_reduced_genus = data_reduced_genus.groupby(['ID','rep','week','oxy','Genus']).sum().reset_index()
data_reduced_genus.sort_values(by=['rep', 'abundance'], inplace=True, ascending=False)
data_reduced_genus.tail(8)

In [26]:
print data_reduced_genus[['rep','week', 'ID']].drop_duplicates()

       rep  week         ID
42795    4    10   76_LOW10
45854    4    10   82_HOW10
2432     4    12  106_HOW12
26673    4     7    40_LOW7
50889    4    11   94_HOW11
318      4    12  100_LOW12
5131     4    13  112_LOW13
9575     4    14  124_LOW14
48111    4    11   88_LOW11
32409    4     8    52_LOW8
7268     4    13  118_HOW13
20097    4     6    28_LOW6
29215    4     7    46_HOW7
34997    4     8    58_HOW8
37446    4     9    64_LOW9
11786    4    14  130_HOW14
23361    4     6    34_HOW6
3539     4     4    10_HOW4
40417    4     9    70_HOW9
14258    4     5    16_LOW5
30452    4     4     4_LOW4
17501    4     5    22_HOW5
36833    3     9    63_LOW9
31758    3     8    51_LOW8
42235    3    10   75_LOW10
47588    3    11   87_LOW11
4556     3    13  111_LOW13
8992     3    14  123_LOW14
45253    3    10   81_HOW10
25372    3     7    39_LOW7
...    ...   ...        ...
8372     2    14  122_LOW14
1419     2    12  104_HOW12
49845    2    11   92_HOW11
36184    2     9    62_LOW9
13051    2     5    14_LOW5
48696    2     4     8_HOW4
20785    2     4     2_LOW4
16257    2     5    20_HOW5
18148    1     6    25_LOW6
38131    1     9    67_HOW9
24022    1     7    37_LOW7
29830    1     8    49_LOW8
46424    1    11   85_LOW11
41082    1    10   73_LOW10
49255    1    11   91_HOW11
2945     1    13  109_LOW13
51413    1    12   97_LOW12
10132    1    14  127_HOW14
7813     1    14  121_LOW14
5681     1    13  115_HOW13
12421    1     5    13_LOW5
35555    1     9    61_LOW9
867      1    12  103_HOW12
43978    1     4     7_HOW4
21493    1     6    31_HOW6
14935    1     5    19_HOW5
27341    1     7    43_HOW7
15640    1     4     1_LOW4
43551    1    10   79_HOW10
33482    1     8    55_HOW8

[88 rows x 3 columns]

In [27]:
data_reduced_genus.head(3)

              ID  rep  week   oxy          Genus  abundance  project
42795   76_LOW10    4    10   Low  Methylobacter   0.774854  1056166
45854   82_HOW10    4    10  High  Methylobacter   0.770596  1056178
2432   106_HOW12    4    12  High  Methylobacter   0.759018  1056226

In [28]:
by_repl_and_week_Genus = data_reduced_genus.groupby(['rep','week','oxy'])#.to_excel(writer,sheet_name='Sheet1')
# check that replicates and week are in the right order: 
#for tup, d in by_repl_and_week_Genus:
#    print tup

In [29]:
if write_excel:
    write_excel_files(dataframe= data_reduced_genus, 
             filepath = './results', 
             by_genus=True)

# NOT DONE TIDYING UP STUFF BELOW

And moving it to modules.

In [ ]:
# Demo of simple plot.  Trim rows with abundance some percent.  Plot only one week/oxygen combo. 
def plot_by_abundance(data, abundance):
    d_plot = data[data['abundance'] > abundance]
    d_plot = pd.pivot_table(d_plot, values='abundance', index=['week'], columns='Genus') #.reset_index()
    print d_plot.head()
    d_plot.plot(kind='bar',stacked=True)
    sns.despine()
    #plt.legend(loc=2)
plot_by_abundance(data=data_reduced_genus[
        np.logical_and(
            data_reduced_genus['rep']==1, 
            data_reduced_genus['oxy']=="Low")], abundance=0.02)

In [ ]:
# Begin to generalize.  Want to be able to subset by oxygen and replicate. 
def subset_data_by_rep_and_oxy(data, rep, oxy):
    return data[
        np.logical_and(
            data_reduced_genus['rep']==rep, 
            data_reduced_genus['oxy']==oxy)]

In [ ]:
# Make an individual plot with the new subset_data_by_rep_and_oxy() function
def plot_by_abundance(data, abundance):
    d_plot = data[data['abundance'] > abundance]
    d_plot = pd.pivot_table(d_plot, values='abundance', index=['week'], columns='Genus') #.reset_index()
    #print d_plot.head()
    d_plot.plot(kind='bar',stacked=True)
    sns.despine()
    #plt.legend(loc=2)
plot_by_abundance(subset_data_by_rep_and_oxy(data= data_reduced_genus, rep=1, oxy='High'), abundance=0.02)

In [ ]:
# set up a figure with four subplots. 
fig, axs = plt.subplots(2, 4, figsize=(8, 6))  # ax belongs to fig. 
print fig
print axs

In [ ]:
g = data_reduced_genus.groupby(['rep', 'oxy'])
for t, dg in g:
    print t #, dg
    #print t[0]

In [ ]:
row_dict = {(1, 'High') : 2,
                (1, 'Low')  : 1,
                (2, 'High') : 2,
                (2, 'Low')  : 1,
                (3, 'High') : 2,
                (3, 'Low')  : 1,
                (4, 'High') : 2,
                (4, 'Low')  : 1}

In [ ]:
print axs
print ""
axs[(1-1)][2-1]

In [ ]:
#axd = {1:axs[0], 2:axs[1], 3:axs[2], 4:axs[3]}
title_list = ''

for t, df in g:
    #print t
    #print 'plot row:', row_dict[t]
    #print 'plot column:', t[0]
    df.plot(kind='scatter', ax=axs[row_dict[t]-1][t[0]-1], x='week', y='abundance', title='meow')

sns.despine()  # Removes the boxes around the plots.

In [ ]:
fig

In [ ]:
# set up a figure with four subplots. 
fig, axs = plt.subplots(2, 4, figsize=(12, 10))  # ax belongs to fig. 
#print fig
#print axs

# set up groupby 

d_plot = data_reduced_genus[data_reduced_genus['abundance'] > 0.05]
g = d_plot.groupby(['rep', 'oxy'])

#axd = {1:axs[0], 2:axs[1], 3:axs[2], 4:axs[3]}
title_list = ''

row_dict = {(1, 'High') : 2, (2, 'High') : 2, (3, 'High') : 2, (4, 'High') : 2,
            (1, 'Low')  : 1, (2, 'Low')  : 1, (3, 'Low')  : 1, (4, 'Low')  : 1}

for tup, df in g:
    # cast the data
    #print tup # tuple
    data_pivoted = pd.pivot_table(df, values='abundance', 
                                        index=['week'],  # drops all the other columns. 
                                        columns='Genus') 
    #print data_pivoted.head()
    #df.groupby('Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'ID', 'oxy', 'rep')
    #print axs[row_dict[tup]-1][tup[0]-1]
    data_pivoted.plot(kind='bar', ax=axs[row_dict[tup]-1][tup[0]-1], stacked=True)  # don't specify x b/c there is only 1 index.

In [ ]:
# fig  # shows the figure.

In [ ]:
## We can get the last one out, but we want all of them out and want them to have shared colors. 
# set up a figure with four subplots. 
fig, axs = plt.subplots(2, 4, figsize=(12, 10))  # ax belongs to fig. 
#print fig
print axs

# set up groupby 

d_plot = data_reduced_genus[data_reduced_genus['abundance'] > 0.05]
g = d_plot.groupby(['rep', 'oxy'])

#axd = {1:axs[0], 2:axs[1], 3:axs[2], 4:axs[3]}
title_list = ''

row_dict = {(1, 'High') : 2, (2, 'High') : 2, (3, 'High') : 2, (4, 'High') : 2,
            (1, 'Low')  : 1, (2, 'Low')  : 1, (3, 'Low')  : 1, (4, 'Low')  : 1}

for tup, df in g:
    # cast the data
    #print tup # tuple
    data_pivoted = pd.pivot_table(df, values='abundance', 
                                        index=['week'],  # drops all the other columns. 
                                        columns='Genus') 
    #print data_pivoted.head()
    #df.groupby('Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'ID', 'oxy', 'rep')
    #print axs[row_dict[tup]-1][tup[0]-1]
    data_pivoted.plot(kind='bar', ax=axs[row_dict[tup]-1][tup[0]-1], stacked=True)  # don't specify x b/c there is only 1 index. 

plt.legend(loc = 'lower center', bbox_to_anchor = (0,-0.1,1,1),
            bbox_transform = plt.gcf().transFigure )            
#legend = plt.legend(loc='upper center', shadow=True, fontsize='x-large')   
#fig.legend(bbox_to_anchor=(1.05, 0), loc='lower left', borderaxespad=0.)
#         # it will place the legend on the outer right-hand side of the last axes

In [ ]:
import itertools
methods=['method 1', 'method2', 'method 3', 'method 4']
times = range(0, 100, 10)
data = pd.DataFrame(list(itertools.product(methods, times, times)))
data.columns = ['method', 'dtsi','rtsi']
data['nw_score'] = np.random.sample(data.shape[0])
print data.head()

In [ ]:
# preview of pivot that happens:  (note use of pivot_table, not pivot.  Aggregating across duplicate rows somehow.)
data.pivot_table(index="dtsi", columns='rtsi', values='nw_score').head()

In [ ]:
data['dtsi'].unique()  # x-values
# rtsi are y-values
# cast

In [ ]:
data_reduced_genus.head()

In [ ]:
# Make a heat map.  Then we aren't confused by colors, and overwhelmed by the # of labels. 
d_plot = data_reduced_genus[data_reduced_genus['abundance'] > 0.05]

def facet_heatmap(data, color, **kws):
    data = data.pivot(index='Genus', columns='week', values='abundance')
    sns.heatmap(data, cmap='Blues', **kws)  # <-- Pass kwargs to heatmap

with sns.plotting_context(font_scale=5.5):
    g = sns.FacetGrid(d_plot[d_plot['oxy']=='Low'], 
                      col="rep", size=3, aspect=1)

cbar_ax = g.fig.add_axes([.92, .3, .02, .4])  # <-- Create a colorbar axes

g = g.map_dataframe(facet_heatmap,
                    cbar_ax=cbar_ax,
                    vmin=0, vmax=1)  # <-- Specify the colorbar axes and limits

g.set_titles(col_template="{col_name}", fontweight='bold', fontsize=18)
g.fig.subplots_adjust(right=.9)  # <-- Add space so the colorbar doesn't overlap the plot

In [ ]:
def filter_by_abundance(data, column, high, low):
    '''Return only rows where genera have one value of abundance in range(low, high)'''
    species_to_keep = data[(data[column] <= high) & (data[column] >= low)]['Genus'].unique()
    print species_to_keep[0:5]# 
    return data[data['Genus'].isin(species_to_keep)]
    #return data[data['Genus'] in species_to_keep]

filter_by_abundance(data=data_reduced_genus, column='abundance', high=1, low=0.5).head()

In [ ]:
# Make a heat map.  Then we aren't confused by colors, and overwhelmed by the # of labels. 
d_plot = filter_by_abundance(data=data_reduced_genus, column='abundance', high=.8, low=0.1)

def facet_heatmap(data, color, **kws):
    data = data.pivot(index='Genus', columns='week', values='abundance')
    sns.heatmap(data, cmap="YlGnBu", **kws)  # <-- Pass kwargs to heatmap  cmap used to be 'Blue'

with sns.plotting_context(font_scale=7):
    g = sns.FacetGrid(d_plot[d_plot['oxy']=='Low'], 
                      col="rep", size=3, aspect=1)

cbar_ax = g.fig.add_axes([.92, .3, .02, .4])  # <-- Create a colorbar axes

g = g.map_dataframe(facet_heatmap,
                    cbar_ax=cbar_ax,
                    vmin=0, vmax=max(d_plot.abundance))  # <-- Specify the colorbar axes and limits

g.set_titles(col_template="{col_name}", fontweight='bold', fontsize=18)
g.fig.subplots_adjust(right=.9)  # <-- Add space so the colorbar doesn't overlap the plot

In [ ]:
def plot_heatmap(data, high, low, oxy, rep): 
    # get rid of oxygen levels and replicates if specified.
    if oxy is not 'all':
        print "keep only {} oxygen samples".format(oxy)
        data = data[data['oxy']==oxy]
    if rep is not 'all':
        print "keep only replicate levels:", rep
        data = data[data['rep'].isin(rep)]        
    data = filter_by_abundance(data=data, column='abundance', high=high, low=low)
    data['facet_replicate'] = 'replicate ' + data['rep'].astype(str)
    
    # make height of the plot a function of the number of rows (Genera):
    num_data_rows = len(data['Genus'].unique())
    plot_size = 2 +  num_data_rows/7
    plot_aspect = 2
    if num_data_rows > 6:
        plot_aspect = .85
    if num_data_rows > 9:
        plot_aspect = .65
    if num_data_rows > 9:
        plot_aspect = .6
    
    def facet_heatmap(data, color, **kws):
        data = data.pivot(index='Genus', columns='week', values='abundance')
        sns.heatmap(data, cmap="YlGnBu", **kws)  # <-- Pass kwargs to heatmap  cmap used to be 'Blue'
    
    with sns.plotting_context(font_scale=7):
        g = sns.FacetGrid(data, col='facet_replicate', size=plot_size, aspect=plot_aspect)
    
    cbar_ax = g.fig.add_axes([.92, .3, .02, .4])  # <-- Create a colorbar axes
    
    g = g.map_dataframe(facet_heatmap,
                        cbar_ax=cbar_ax,
                        vmin=0, vmax=max(data.abundance))  # <-- Specify the colorbar axes and limits
    
    g.set_titles(col_template="{col_name}", fontweight='bold', fontsize=18)
    g.set_axis_labels('week')
    g.fig.subplots_adjust(right=.9)  # <-- Add space so the colorbar doesn't overlap the plot
    
    # add a supertitle. 
    plt.subplots_adjust(top=0.80)
    supertitle = str(low) + ' < abundance < ' + str(high) + ', {} oxygen'.format(oxy) 
    g.fig.suptitle(supertitle, size=14)
    
    # write a filename and save.
    plot_dir = './plots/'
    filename = oxy + "_oxygen--{0}_to_{1}_abundance".format(low,high)
    print 'filename:', filename
    g.savefig(plot_dir + filename + '.pdf')

# demo:
plot_heatmap(data=data_reduced_genus, high=0.6, low = 0.5, oxy='High', rep='all')

In [ ]:
plot_heatmap(data=data_reduced_genus, high=1, low = 0.1, oxy='High', rep='all')

In [ ]:
plot_heatmap(data=data_reduced_genus, high=.5, low = 0.02, oxy='Low', rep='all')

In [ ]:
# Loop through the ranges we want. 
oxy_conditions = ['Low', 'High']
range_pairs = [(0.01, 1), (0.05, 1), (0.1, 1), (0.5, 1)]
for o in oxy_conditions:
    for r in range_pairs:
        #print "oxygen:", o
        #print "range:", r
        #print "range (low):", r[0]
        plot_heatmap(data=data_reduced_genus, low =r[0], high=r[1], oxy=o, rep='all')

In [ ]:
# Loop through the ranges we want. 
oxy_conditions = ['Low', 'High']
max_abundance = 0.6
range_pairs = [(0.01, max_abundance), (0.05, max_abundance), (0.1, max_abundance), (0.5, max_abundance)]
for o in oxy_conditions:
    for r in range_pairs:
        #print "oxygen:", o
        #print "range:", r
        #print "range (low):", r[0]
        plot_heatmap(data=data_reduced_genus, low =r[0], high=r[1], oxy=o, rep='all')

# INC: map custom colors on.
data_files = ['a', 'b', 'c', 'd']
# colors: http://colorbrewer2.org/?type=diverging&scheme=RdYlBu&n=9
colorblind_safe_9 = [(215,48,39 ), # red
                    (244,109,67 ), # orange
                    (253,174,97 ), # light orange
                    (254,224,144), # orange-yellow
                    (255,255,191), # yellow 
                    (224,243,248), # very light blue
                    (171,217,233), # lighter blue
                    (116,173,209), # light blue
                    (69,117,180 )] # blue
print colorblind_safe_9
#colors = dict(zip(data_files, mpl_colors))
#print colors